<div className='flex gap-16 md:gap-10'>
	<Link href='/' className='hidden items-center space-x-2 md:flex'>
	<span className='hidden font-bold sm:inline-block'>Alex Westerman</span>
	</Link>
	<NavigationMenu className='hidden md:flex'>
		<NavigationMenuList className='gap-6 md:gap-10'>
			{items?.map((item) => (
			<NavigationMenuItem key={item.title} className=''>
				<Link key={item.title} href={item.url}
					className={cn( 'flex font-medium text-lg transition-colors hover:text-foreground/80 sm:text-sm' )}>
				<span>{item.title}</span>
				</Link>
			</NavigationMenuItem>
			))}
		</NavigationMenuList>
	</NavigationMenu>
	<!-- <Button variant='ghost' className='ml-4 flex items-center space-x-2 md:hidden' onClick={()=>
		setShowMobileMenu(!showMobileMenu)}>
		{showMobileMenu ?
		<X /> :
		<Menu />}
		<span className='font-bold'>Alex Westerman</span>
	</Button> -->
	{showMobileMenu && <MobileNav closeFn={setShowMobileMenu}>{children}</MobileNav>}
	<span className='grow' />
	<div className='flex pr-2'>
		{mounted && (
		<Button variant='link' onClick={()=> setTheme(resolvedTheme === 'light' ? 'dark' : 'light')}
			aria-label='Change Light/Dark Mode'>
			{resolvedTheme === 'dark' &&
			<MoonStar />}
			{resolvedTheme === 'light' &&
			<Sun />}
		</Button>
		)}
	</div>
</div>