.big {
	text-align: center;
	padding: 5rem 0;
	font-size: 3rem;
}

.subtext {
	text-align: center;
	padding: 5rem auto;
	font-size: small;
}

.img404 {
	height: 400px;
	text-align: center;
	align-self:center;
	
}
