h1 {
	font-size: 3rem;
	margin: 1.25rem 1.25rem 1.875rem 1.25rem;
	padding-top: 1.875rem;
	padding-left: 1.25rem;
}

.about {
	display: flex;
	margin: 1.25rem;

	div {
		margin: 1.25rem;
	}

	p {
		text-indent: 2.8125rem;
	}
}
