<h2 mat-dialog-title>Hey There!</h2>
<mat-dialog-content>
	<p>It looks like you are trying to access this site on a mobile device or have shrunk your window size. I just want
		to let you know that <strong>this site is currently designed for full-screen desktop viewing in mind.</strong>
		<br><br>
		I am in the process of making a fully responsive version, but I would recommend for now viewing this on a
		desktop and viewing it using a large/maximized browser window.<br><br>
		Apologies for any inconvenience!
	</p>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button mat-dialog-close>Cool!</button>
</mat-dialog-actions>