<main id="main" class="mx-3">
    <section class="projintro my-2">
        <h1 class="d-inline-flex p-2">Projects</h1>
        <ol class="breadcrumb d-inline-flex float-end">
            <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
            <li class="breadcrumb-item active"><a href="/page/projects.html">Projects</a></li>
        </ol>
    </section>
    <section class="projects-status mx-4" style="width: 97.5%;" id="projects-status">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Project</th>
                    <th scope="col">Programming Language</th>
                    <th scope="col">Used Libraries</th>
                    <th scope="col">Development Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-primary" id="cnh-arch">
                    <th scope="row"><a class="text-body" href="#cnharch-card">*Creative Name Here*
                            (Architecture)</a></th>
                    <td>SystemVerilog</td>
                    <td>N/A</td>
                    <td>Finished (Private Repository)</td>
                </tr>
                <tr class="table-primary" id="joust">
                    <th scope="row"><a class="text-body" href="#joust-card">Joust Remake</a></th>
                    <td><i class="nf nf-dev-java"></i> Java 8</td>
                    <td>N/A</td>
                    <td>Finished (Private Repository)</td>
                </tr>
                <tr class="table-success" id="portfolio">
                    <th scope="row"><a class="text-body" href="#portfoliocard">Portfolio Website</a></th>
                    <td><i class="nf nf-dev-html5"></i> HTML5, <i class="nf nf-dev-sass"></i> Sass, <i
                            class="nf nf-mdi-language_javascript"></i> JS</td>
                    <td><i class="nf nf-dev-bootstrap"></i> Bootstrap 5 (Bootswatch Darkly Variant),
                        Boxicons
                    </td>
                    <td>Active Development</td>
                </tr>

                <tr class="table-warning" id="startmenuutil">
                    <th scope="row"> <a class="text-body" href="#startmenutilcard">StartMenuUtil</a></th>
                    <td><i class="nf nf nf-mdi-language_csharp"></i> C#</td>
                    <td><i class="devicon-dot-net-plain"></i> .NET Standard 5, Windows Script Host (via COM)
                    </td>
                    <td>Suspended (Will Resume Eventually)</td>
                </tr>
                <tr class="table-danger" id="bhl-resrc">
                    <th scope="row"><a class="text-body" href="#bhlresrccard">Brutal Half-Life Rewrite</a></th>
                    <td><i class="nf nf-custom-c"></i> C, <i class="nf nf-custom-cpp"></i> C++</td>
                    <td>Valve GoldSrc Engine</td>
                    <td>Suspended Indefinitely (Until Further Notice)</td>
                </tr>
                <tr class="table-secondary" id="opencryptobench">
                    <th scope="row"><a class="text-body" href="#ocbcard">OpenCryptoBench</a></th>
                    <td><i class="nf nf-dev-java"></i> Java 8</td>
                    <td>Bouncy Castle (Java)</td>
                    <td>Archived (No Longer in Development)</td>
                </tr>
                <tr class="table-info" id="ece160">
                    <th scope="row"><a class="text-body" href="#ece160card">Team ThunderBirds Robot</a></th>
                    <td><i class="nf nf-custom-c"></i> C, <i class="nf nf-custom-cpp"></i> C++</td>
                    <td>Arduino, Stepper Motor HAL, PS2 Controller HAL</td>
                    <td>Finished</td>
                </tr>
                <tr class="table-secondary" id="ece230">
                    <th scope="row"><a class="text-body" href="#ece230card">Scavlander's Gamepad</a></th>
                    <td><i class="nf nf-custom-c"></i> C, <i class="nf nf-custom-cpp"></i> C++</td>
                    <td>TI-RTOS (MSP432, CC2650)</td>
                    <td>Archived (No Longer In Development)</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="projects" id="projects-section">
        <div class="row justify-content-center" id="project-cards">


            <!--Creative Name Here (Architecture)-->
            <div class="card mb-3 col-xs-8 col-sm-6 col-md-4 mx-2" style="width:32rem" id="cnharch-card">
                <h3 class="card-header">*Creative Name Here* Architecture</h3>
                <div class="card-body">
                    <h5 class="card-title">16-bit RISC Architecture With a Flexible Assembly Dialect and
                        Efficient
                        Performance</h5>
                    <h6 class="card-subtitle text-muted">For Rose-Hulman CSSE232 - Computer Architecture</h6>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="300"
                    aria-label="Placeholder: Image cap" focusable="false" role="img"
                    preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180"
                    style="font-size:1.125rem;text-anchor:middle">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Acquiring Project Assets...</text>
                </svg>
                <div class="card-body">
                    <span class="text-muted"><em>Language: <i class="bx bxl-c-plus-plus"></i> C++
                            (Arduino)</em></span><br>
                </div>
                <div class="card-footer text-muted">Private Repo (Academic Integrity)</div>
            </div>
            <!--END Card-->

            <!--CSSE220 Joust Remake-->
            <div class="card mb-3 col-xs-8 col-sm-6 col-md-4 mx-2" style="width:32rem" id="joust-card">
                <h3 class="card-header">Joust (Remake)</h3>
                <div class="card-body">
                    <h5 class="card-title">Remake of the 1982 Arcade Classic <em>Joust</em> by Williams
                        Electronics
                        in Java</h5>
                    <h6 class="card-subtitle text-muted"><em>For Rose-Hulman CSSE220: Introduction to Object
                            Oriented Programming</em>
                    </h6>
                </div>
                <img src="/assets/joust.png" style="height: 300px; object-fit: contain;">
                <div class="card-body">
                    <span class="text-muted"><em>Language: <i class="nf nf-dev-java"></i> Java 8</em></span>
                </div>
                <div class="card-footer text-muted">Private Repo (Academic Integrity)</div>
            </div>
            <!--END Card-->

            <!--Portfolio-->
            <div class="card mb-3 col-xs-8 col-sm-6 col-md-4 mx-2" style="width:32rem" id="portfoliocard">
                <h3 class="card-header">Portfolio Website</h3>
                <div class="card-body">
                    <h5 class="card-title">A Personally Desinged Portfolio Website With a Modern Look and Feel
                    </h5>
                    <h6 class="card-subtitle text-muted">Originally for Rose-Hulman CSSE280, Further Worked On
                        Personally</h6>
                </div>
                <img src="/assets/portfolio.png">
                <div class="card-body">
                    <span class="text-muted"><em>Language:
                            <i class="nf nf-dev-html5"></i> HTML5,
                            <i class="nf nf-dev-sass"></i> Sass,
                            <i class="nf nf-mdi-language_javascript"></i> JS
                        </em></span><br>
                    <span class="text-muted"><em>Libraries:
                            <i class="nf nf-dev-bootstrap"></i> Bootstrap 5
                            (Bootswatch Darkly Variant), NerdFonts
                        </em></span><br>

                </div>
                <div class="card-footer text-muted">
                    <a href="https://github.com/rhit-westeraj/rhit-westeraj.github.io" class="card-link">
                        <i class="nf nf-fa-github"></i> Github Repo</a>
                </div>
            </div>
            <!--END Card-->

            <!--NEW ROW-->
            <div class="w-100 d-none d-md-block"></div>
            <!--END NEW ROW-->

            <!--StartMenuUtil-->
            <div class="card mb-3 col-xs-8 col-sm-6 col-md-4 mx-2" style="width:32rem" id="startmenuutilcard">
                <h3 class="card-header">StartMenuUtil</h3>
                <div class="card-body">
                    <h5 class="card-title">Windows Utility to Control Start Menu Shortcuts</h5>
                    <h6 class="card-subtitle text-muted">Personal Project</h6>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="300"
                    aria-label="Placeholder: Image cap" focusable="false" role="img"
                    preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180"
                    style="font-size:1.125rem;text-anchor:middle">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Acquiring Project Assets...</text>
                </svg>
                <div class="card-body">
                    <span class="text-muted"><em>Language:
                            <i class="nf nf nf-mdi-language_csharp"></i> C#
                        </em></span><br>
                    <span class="text-muted"><em>Libraries:
                            <i class="devicon-dot-net-plain"></i> .NET Standard 5,
                            Windows Script Host (via COM)
                        </em></span><br>

                </div>
                <div class="card-footer text-muted">Offline Repo (No Public Commits Yet)</div>
            </div>
            <!--END Card-->

            <!--Brutal Half-Life Rewrite -->
            <div class="card mb-3 col-xs-8 col-sm-6 col-md-4 mx-2" style="width:32rem" id="bhlresrccard">
                <h3 class="card-header">Brutal Half-Life Rewrite</h3>
                <div class="card-body">
                    <h5 class="card-title">Brutal Half-Life (Rewrite) </h5>
                    <h6 class="card-subtitle text-muted">A rewrite of the Brutal Half-Life game modification to
                        remove the Xash3D dependency</h6>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="300"
                    aria-label="Placeholder: Image cap" focusable="false" role="img"
                    preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180"
                    style="font-size:1.125rem;text-anchor:middle">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Acquiring Project Assets...</text>
                </svg>
                <div class="card-body">
                    <span class="text-muted"><em>Language:
                            <i class="nf nf-custom-c"></i> C,
                            <i class="nf nf-custom-cpp"></i> C++
                        </em></span><br>
                    <span class="text-muted"><em>Libraries:
                            Valve GoldSrc Engine
                        </em></span><br>
                </div>
                <div class="card-footer text-muted">Offline Repo (No Public Commits Yet)</div>
            </div>
            <!--END Card -->

            <!--OpenCryptoBench-->
            <div class="card mb-3 col-xs-8 col-sm-6 col-md-4 mx-2" style="width:32rem" id="OpenCryptoBenchard">
                <h3 class="card-header">OpenCryptoBench</h3>
                <div class="card-body">
                    <h5 class="card-title">Rudimentary Cryptograhy Algorithm Benchmark Written in Java </h5>
                    <h6 class="card-subtitle text-muted">ARCHIVED: THIS PROGRAM IS NOT VERY GOOD</h6>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="300"
                    aria-label="Placeholder: Image cap" focusable="false" role="img"
                    preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180"
                    style="font-size:1.125rem;text-anchor:middle">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Acquiring Project Assets...</text>
                </svg>
                <div class="card-body">
                    <span class="text-muted"><em>Language:
                            <i class="nf nf-dev-java"></i> Java 8
                        </em></span><br>
                    <span class="text-muted"><em>Libraries:
                            Bouncy Castle (Java)
                        </em></span><br>
                </div>
                <div class="card-footer text-muted">
                    <a href="https://github.com/rhit-westeraj/OpenCryptoBench" class="card-link">
                        <i class="nf nf-fa-github"></i> Github Repo</a>
                </div>
            </div>
            <!--END Card -->

            <!--NEW ROW-->
            <div class="w-100 d-none d-md-block"></div>
            <!--END NEW ROW-->

            <!--ece160 -->
            <div class="card mb-3 col-xs-8 col-sm-6 col-md-4 mx-2" style="width:32rem" id="ece160card">
                <h3 class="card-header">Team Thunderbirds ECE160 Robot</h3>
                <div class="card-body">
                    <h5 class="card-title">Specialized Arduino Firmware to Remotely Operate a Robot for
                        Rose-Hulman's Annual ECE160 Competition for Freshman </h5>
                    <h6 class="card-subtitle text-muted">For Rose-Hulman ECE160 - Engineering Practice</h6>
                </div>
                <img src="/assets/IMG_3188.JPG" style="height:300px; object-fit: contain">
                <div class="card-body">
                    <span class="text-muted"><em>Language:
                            <i class="nf nf-custom-c"></i> C/
                            <i class="nf nf-custom-cpp"></i> C++
                        </em></span><br>
                    <span class="text-muted"><em>Libraries:
                            Arduino
                        </em></span><br>
                </div>
                <div class="card-footer text-muted">
                    <a href="https://github.com/Thunderbirds-ECE160/Final-Robot" class="card-link">
                        <i class="nf nf-fa-github"></i> Github Repo</a>
                </div>
            </div>
            <!--END Card -->

            <!--ece230 -->
            <div class="card mb-3 col-xs-8 col-sm-6 col-md-4 mx-2" style="width:32rem" id="ece230card">
                <h3 class="card-header">Scavlander's Gamepad</h3>
                <div class="card-body">
                    <h5 class="card-title">Attempt at a "Apocalypse"-styled Gamepad powered by the TI MSP432
                        Launchpad with CC2650 Boosterpack </h5>
                    <h6 class="card-subtitle text-muted">For Rose-Hulman ECE230 - Embedded Systems</h6>
                </div>
                <img src="/assets/IMG_8955.JPG" style="height:300px; object-fit: contain;">
                <div class="card-body">
                    <span class="text-muted"><em>Language:
                            <i class="nf nf-custom-c"></i> C(Embedded)
                        </em></span><br>
                    <span class="text-muted"><em>Libraries:
                            TI-RTOS,
                            TI MSP432/CC2650 Bluetooth Stack
                        </em></span>
                </div>
                <div class="card-footer text-muted">
                    <a href="https://github.com/rhit-westeraj/scavlanders-gamepad" class="card-link">
                        <i class="nf nf-fa-github"></i> Github Repo</a>
                </div>
            </div>
        </div>
        <!--END Card -->

    </section>
</main>
<footer>
    <div class="bg-dark flex-grow-1" style="margin-top: 20px;">
        <div class="text-muted text-center">Alex "FaceFTW" Westerman <i class="nf nf-fa-copyright"></i>2021 All
            Rights
            Reserved.</div>
        <div class="text-muted text-center">Source code for this website is licensed under the MIT License</div>
        <div class="text-muted text-center">This website was created by hand with Bootstrap 5.0.1, using the
            Bootswatch Darkly Variant</div>
        <div class="text-muted text-center"></div>
    </div>
</footer>