---
layout: 'layouts/base.njk'
---

<div class='flex flex-col justify-center'>
    <div class='mb-4 flex flex-row'>
        <a href='/blog'>
            <div class='flex flex-row space-x-2'>
                {% include 'icons/arrow_left.njk' %}<p class='text-neutral-600 dark:text-neutral-500'>Back to the Main Page</p>
            </div>
        </a>
    </div>
    <article class='prose grow lg:max-w-[125ch]'>
        <h1>{{ postTitle }}</h1>
        <em>{{ excerpt }}</em>
        {{ content | safe }}
    </article>
    <br/>
    <em
        class='prose mb-8 inline-flex self-center lg:flex'
        xmlns:cc='http://creativecommons.org/ns#'
        xmlns:dct='http://purl.org/dc/terms/'>
        <span property='dct:title' class='mr-1'>This post of the&nbsp;<code>ref_cycling</code>&nbsp;blog</span>
        is licensed under
        <a
            href='https://creativecommons.org/licenses/by-nc-sa/4.0'
            target='_blank'
            rel='license noopener noreferrer'
            class='ml-1 inline text-'>
            CC BY-NC-SA 4.0
        </a>
    </em>
</div>