---
import EducationAccordion from '@/components/EducationAccordion';
import ExperienceAccordion from '@/components/ExperienceAccordion';
import SkillsSection from '@/components/SkillsSection.astro';
import Primary from '@/layouts/Primary.astro';

// const Highlights = ({ highlights }: { highlights: ResumeHighlight[] }) => {
// 	//This is kinda hacky, but I can't think of a better solution
// 	const resolveIcon = (iconName: string) => {
// 		switch (iconName) {
// 			case 'fa-book':
// 				return <FaBook />;
// 			case 'fa-github':
// 				return <FaGithub />;
// 			case 'fa-heart':
// 				return <FaHeart />;
// 		}
// 	};

// 	return (
// 		<Grid container spacing={3} sx={{ padding: { sm: '2rem 5rem' } }} alignItems='stretch'>
// 			{highlights.map((highlight, index) => (
// 				<Grid item xs={12} lg={4} key={index} sx={{ display: 'flex' }}>
// 					<Paper
// 						elevation={3}
// 						sx={{
// 							display: 'flex',
// 							justifyContent: 'center',
// 							padding: '1rem',
// 							flexGrow: 1,
// 						}}>
// 						<Box>
// 							<Icon sx={{ display: 'block', fontSize: '80px', marginRight: '1rem' }}>
// 								{resolveIcon(highlight.icon)}
// 							</Icon>
// 						</Box>
// 						<Box>
// 							<Typography variant='h4'>{highlight.stat}</Typography>
// 							<Typography variant='h6'>{highlight.statDescription}</Typography>
// 						</Box>
// 					</Paper>
// 				</Grid>
// 			))}
// 		</Grid>
// 	);
// };
---

<Primary title="Resume">
	<div class='m-4'>
		<h4 class='text-4xl underline'>Skills</h4>
		<SkillsSection />
	</div>
	<div class='m-4'>
		<h4 class='text-4xl underline'>Education</h4>
		<EducationAccordion client:load />
	</div>
	<div class='m-4'>
		<h4 class='text-4xl underline'>Experience</h4>
		<ExperienceAccordion client:load />
	</div>
</Primary>
