// Major Layout Classes
.container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

// Header Toolbar Styles
.headerBlock {
	position: fixed;
	/* Make sure the toolbar will stay on top of the content as it scrolls past. */
	z-index: 2;

	h1.headerName {
		margin-left: 0.5rem;
	}

	.headerSpacer {
		flex: 1 1 auto;
	}
}

// Sidenav Styles
.snav-container {
	/* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
	flex: 1;

	&.isMobile {
		/* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
		 `<body>` to be our scrolling element for mobile layouts. */
		flex: 1 0 auto;
	}

	.snav {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 14rem;
	}

	mat-sidenav {
		width: 14rem;
	}

	.routerContent {
		margin-top: 3rem;
	}
}

// Sidebar Profile Styles
.profile {
	h1 {
		font-size: 1.5rem;
		margin: 0;
		padding: 0;
		font-weight: 500;
		text-align-last: center;

		a,
		a:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	.social-links {
		text-align: center;
		a {
			font-size: 1.125rem;
			display: inline-block;
			background: #212431;
			color: #fff;
			line-height: 1.3;
			padding: 0.25rem;
			margin-right: 0.25rem;
			border-radius: 100%;
			text-align: center;
			width: 1.5rem;
			height: 1.5rem;
			transition: 0.3s;
			text-decoration: none;

			&:hover {
				background: #43a047;
				color: #fff;
				text-decoration: none;
			}
		}
	}

	img.pfp {
		border-radius: 50%;
		margin: 0.9375rem auto;
		display: block;
		width: 7.5rem;
		border: 0.5rem solid #2c2f3f;
		transition: 0.3s;

		&.pfp:hover {
			border-color: #43a047;
		}
	}

	mat-icon {
		font-size: 1.25rem;
	}
}
