{#
Taken From Lucide Icons under ISC License:
https://lucide.dev/license
#}
<svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewbox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-bluesky lucide-Bluesky inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md
        text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none
        [&amp;_svg:not([class*='size-'])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring
        focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20
        dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive text-primary underline-offset-4 hover:underline
        size-9 h-6 w-6 md:h-10 md:w-10"
    data-slot="tooltip-trigger"
    data-state="closed">
    <path d="M6.335 4.38c2.293 1.722 4.76 5.212 5.665 7.085.906-1.873 3.372-5.363 5.665-7.085C19.319 3.138 22 2.177 22 5.235c0
        .611-.35 5.131-.556 5.865-.713 2.551-3.315 3.202-5.629 2.808 4.045.688 5.074 2.97 2.852 5.25-4.22
        4.33-6.066-1.088-6.54-2.476-.086-.254-.126-.373-.127-.272 0-.1-.041.018-.128.272-.473 1.388-2.318 6.806-6.539
        2.475-2.222-2.28-1.193-4.56 2.852-5.249-2.314.394-4.916-.257-5.63-2.808C2.35 10.366 2 5.846 2 5.235c0-3.058 2.68-2.097
        4.335-.855"></path>
</svg>