{#
Taken From Lucide Icons under ISC License:
https://lucide.dev/license
#}
<svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewbox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-mail inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium
        transition-all disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none
        [&amp;_svg:not([class*='size-'])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring
        focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20
        dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive text-primary underline-offset-4 hover:underline
        size-9 h-6 w-6 md:h-10 md:w-10"
    data-slot="tooltip-trigger"
    data-state="closed">
    <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"></path>
    <rect x="2" y="4" width="20" height="16" rx="2"></rect>
</svg>