---
// import Link from 'next/link';
import {Card, CardContent} from '../../old/src/components/ui/card';
---

<footer class='mx-auto mb-4 block'>
	<Card class='flex'>
		<CardContent class='mx-auto mt-4 flex text-wrap'>
			<pre
				class='text-wrap text-center'>
                        Made by Alex &quot;FaceFTW&quot; Westerman &copy; 2021-{new Date().getFullYear()} All Rights
                        Reserved. <br />
                        Source code for this website is licensed under the MIT License <br />
                        All projects mentioned are subject to their specific licenses and copyrights as designated by
                        their owners
                        <br /><br />
                <a href='/funny' class='text-gray-500 text-sm decoration-muted'>
                	super secret link
				</a>
		</pre>
		</CardContent>
	</Card>
</footer>
