<section class="outline">
	<div class="header-row">
		<mat-grid-list cols="3" rowHeight="100px">
			<mat-grid-tile *ngFor="let item of highlights">
				<div class="count-box">
					<mat-icon class="headerIcon" fontIcon="{{item.icon}}"></mat-icon>
					<div class="count-box-right">
						<span class="counter">{{item.stat}}</span>
						<p class="counter-desc">{{item.statDescription}}</p>
					</div>
				</div>
			</mat-grid-tile>
		</mat-grid-list>
	</div>
</section>
<div class="resume-content">
	<h1>Skills</h1>
	<mat-accordion>
		<mat-expansion-panel *ngFor="let item of skills">
			<mat-expansion-panel-header>
				<mat-panel-title>{{item.categoryName}}</mat-panel-title>
				<mat-panel-description></mat-panel-description>
			</mat-expansion-panel-header>
			<!--Panel Content-->
			<h3 class="panel-content-subheader" *ngIf="item.highSkill">Advanced Skills in:</h3>
			<ul *ngFor="let skill of item.highSkill">
				<li>{{skill}}</li>
			</ul>
			<br>
			<h3 class="panel-content-subheader" *ngIf="item.medSkill">Intermediate Skills in:</h3>
			<ul *ngFor="let skill of item.medSkill">
				<li>{{skill}}</li>
			</ul>
			<br>
			<h3 class="panel-content-subheader" *ngIf="item.lowSkill">Beginner Skills in:</h3>
			<ul *ngFor="let skill of item.lowSkill">
				<li>{{skill}}</li>
			</ul>
		</mat-expansion-panel>
	</mat-accordion>

	<h1>Education</h1>
	<mat-accordion>
		<mat-expansion-panel *ngFor="let item of education">
			<mat-expansion-panel-header>
				<mat-panel-title>{{item.name}}</mat-panel-title>
				<mat-panel-description>{{item.graduationDate}}</mat-panel-description>
			</mat-expansion-panel-header>
			<!--Panel Content-->
			<h3 class="panel-content-subheader">Field of Study:</h3>
			<ul>
				<li *ngFor="let degree of item.degree">{{degree}}</li>
				<li *ngIf="item.degreeAddendum"> {{item.degreeAddendum}}</li>
			</ul>
			<br>
			<div *ngIf="item.gpa"><strong>Unweighted GPA: </strong>{{item.gpa.unweighted}}, <strong>Weighted GPA:
				</strong> {{item.gpa.weighted}}</div>
			<br>
			<p><strong>Relevant Coursework: </strong>{{item.relCoursework.join(", ")}}</p>
			<p *ngIf="item.propCoursework"><strong>Proposed Coursework: </strong>{{item.propCoursework.join(", ")}}</p>

		</mat-expansion-panel>
	</mat-accordion>

	<h1>Professional Experience</h1>
	<mat-accordion>
		<!--Panel 1-->
		<mat-expansion-panel *ngFor="let item of experience">
			<mat-expansion-panel-header>
				<mat-panel-title>{{item.name}}</mat-panel-title>
				<mat-panel-description>{{item.position}}</mat-panel-description>
			</mat-expansion-panel-header>
			<!--Panel Content-->
			<p>Company Location: {{item.location}}</p>
			<p>Employed from {{item.timeEmployed}}</p>
			<p *ngIf="item.terminationReason">Reason for Termination: {{item.terminationReason}}</p>
			<br>
			<h3 class="panel-content-subheader">Responsibilities:</h3>
			<ul>
				<li *ngFor="let responsibility of item.responsibilities">{{responsibility}}</li>
			</ul>
		</mat-expansion-panel>

	</mat-accordion>
</div>

<footer>
	<app-footer></app-footer>
</footer>