.count-box {
	padding: 15px;
	width: 100%;
	display: flex;

	.count-box-right {
		margin-left: 80px;
	}

	mat-icon {
		display: block;
		font-size: 80px;
		line-height: 60px;
	}

	span {
		font-size: 48px;
		line-height: 20px;
		display: block;
		font-weight: 700;
	}

	p {
		padding: 15px 0 0 0;
		font-size: 16px;
	}

	a {
		font-weight: 600;
		font-size: 18px;
		transition: ease-in-out 0.3s;

		&:visited {
			color: #ffffff;
		}
	}

	.counter-desc {
		width: 250px;
	}
}

div {
	&.header-row {
		padding-top: 25px;
		width: 90%;
		margin: auto;
	}

	&.resume-content {
		width: 90%;
		margin: auto;

		h1 {
			margin-top: 25px;
		}
	}
}

mat-grid-tile {
	display: flex;
}
