---
layout: layouts/base.njk
permalink: 404.html
---

<div class='flex flex-col text-center align-center'>
    <h1 class='m-8 text-4xl'>oops...</h1>
    <p>you seem to have navigated to a page that doesn&apos;t exist yet...</p>
</div>