---
layout: layouts/base.njk
eleventyNavigation:
    key: Alex's Website
    url: https://faceftw.dev
---

<main class="container mx-auto flex flex-col md:w-[80%]">
    <div class="container mx-auto px-5">
        <div class="flex flex-col items-center">
            <section class="flex w-full flex-col">
                <div class="flex w-full">
                    <div class="mx-auto flex min-w-[60%] flex-col lg:flex-row">
                        <div class="mx-auto my-8 flex min-w-fit xl:mx-8">
                            <img
                                alt="me :)"
                                loading="lazy"
                                width="472"
                                height="472"
                                decoding="async"
                                class="h-48 w-48 rounded-full border-8 transition-all hover:border-primary"
                                style="color:transparent"
                                src="assets/pfp.webp"/>
                        </div>
                        <div class="mb-8 self-center">
                            <h1 class="animated-gradient mx-auto bg-gradient-one delay-500 lg:mx-0 dark:bg-gradient-one-dark">Software Engineer;</h1>
                            <h1 class="animated-gradient mx-auto bg-gradient-two delay-1000 lg:mx-0 dark:bg-gradient-two-dark">Power User;</h1>
                            <h1 class="animated-gradient mx-auto bg-gradient-three lg:mx-0 dark:bg-gradient-three-dark">Problem Solver;</h1>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row items-center gap-8">
                    <div class="mx-auto"></div>
                    <button title="Twitter" id="twitterBtn" class="p-1">
                        {% include 'icons/twitter.njk'%}
                    </button>
                    <script>
                        document.getElementById('twitterBtn').onclick = () => window.open("https://twitter.com/_FaceFTW")
                    </script>
                    <button title="Bluesky" id="bskyBtn" class="p-1">
                        {% include 'icons/bluesky.njk'%}
                    </button>
                    <script>
                        document.getElementById('bskyBtn').onclick = () => window.open("https://bsky.app/profile/faceftw.dev")
                    </script>
                    <button title="GitHub" id="ghBtn" class="p-1">
                        {% include 'icons/github.njk'%}
                    </button>
                    <script>
                        document.getElementById('ghBtn').onclick = () => window.open("https://github.com/FaceFTW")
                    </script>
                    <button title="Email" id="mailBtn" class="p-1">
                        {% include 'icons/mail.njk'%}
                    </button>
                    <script>
                        document.getElementById('mailBtn').onclick = () => window.open("mailto:alex@faceftw.dev")
                    </script>
                    <button title="LinkedIn" id="linkedInBtn" class="p-1">
                        {% include 'icons/linkedin.njk'%}
                    </button>
                    <script>
                        document.getElementById('linkedInBtn').onclick = () => window.open("https://linkedin.com/in/faceftw")
                    </script>
                    <div class="mx-auto"></div>
                </div>
            </section>
            <div data-orientation="horizontal" role="separator" class="my-4 w-[80%] border-2"></div>
            <section class="flex flex-col items-center">
                <h3 class="mx-4 mb-4 text-5xl">Featured Projects</h3>
            </section>
        </div>
    </main>