@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url("fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 300 900;
  font-display: swap;
  src: url("fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 3.9%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 10% 3.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.9%);
  --primary: hsl(142.1 76.2% 36.3%);
  --primary-foreground: hsl(355.7 100% 97.3%);
  --secondary: hsl(240 4.8% 95.9%);
  --secondary-foreground: hsl(240 5.9% 10%);
  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsl(240 3.8% 46.1%);
  --accent: hsl(240 4.8% 95.9%);
  --accent-foreground: hsl(240 5.9% 10%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(240 5.9% 90%);
  --input: hsl(240 5.9% 90%);
  --ring: hsl(142.1 76.2% 36.3%);
  --radius: 0.5rem;

}

/* .dark {
  --background: hsl(20 14.3% 4.1%);
  --foreground: hsl(0 0% 95%);
  --card: hsl(24 9.8% 10%);
  --card-foreground: hsl(0 0% 95%);
  --popover: hsl(0 0% 9%);
  --popover-foreground: hsl(0 0% 95%);
  --primary: hsl(142.1 70.6% 45.3%);
  --primary-foreground: hsl(144.9 80.4% 10%);
  --secondary: hsl(240 3.7% 15.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --muted: hsl(0 0% 15%);
  --muted-foreground: hsl(240 5% 64.9%);
  --accent: hsl(12 6.5% 15.1%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 85.7% 97.3%);
  --border: hsl(240 3.7% 15.9%);
  --input: hsl(240 3.7% 15.9%);
  --ring: hsl(142.4 71.8% 29.2%);

} */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 1s ease-out;
  --animate-accordion-up: accordion-up 1s ease-out;
  --font-rubik: Rubik, sans-serif;

  @keyframes accordion-down {
    0% {
      height: 0;
    }
    100% {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    0% {
      height: var(--radix-accordion-content-height);
    }
    100% {
      height: 0;
    }
  }
}

@utility bg-gradient-one {
  background-image:
    linear-gradient(to right, white 50%, transparent 50%),
    linear-gradient(to right, transparent 50%, #86efac 50%, #5eead4 75%);
}
@utility bg-gradient-one-dark {
  background-image:
    linear-gradient(to right, #0c0a09 50%, transparent 50%),
    linear-gradient(to right, transparent 50%, #15803d 50%, #0f766e 75%);
}

@utility bg-gradient-two {
  background-image:
    linear-gradient(to right, white 50%, transparent 50%),
    linear-gradient(to right, transparent 50%, #ef4444 50%, #f97136 75%);
}
@utility bg-gradient-two-dark {
  background-image:
    linear-gradient(to right, #0c0a09 50%, transparent 50%),
    linear-gradient(to right, transparent 50%, #ef4444 50%, #f97136 75%);
}

@utility bg-gradient-three {
  background-image:
    linear-gradient(to right, white 50%, transparent 50%),
    linear-gradient(to right, transparent 50%, #818cf8 50%, #06b6d4 75%);
}
@utility bg-gradient-three-dark {
  background-image:
    linear-gradient(to right, #0c0a09 50%, transparent 50%),
    linear-gradient(to right, transparent 50%, #818cf8 50%, #06b6d4 75%);
}

@keyframes gradient-trans {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: -100%;
  }
}

@utility animated-gradient {
  animation: gradient-trans 1.5s ease-in-out forwards;
  @apply [background-size:200%];
  @apply w-fit;
}

@layer base {
  * {
    border-color: var(--color-gray-200, currentColor);
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  /* For using Shiki Styles */
  /* html.dark .shiki, */
  /* html.dark .shiki span { */
	.shiki,
	.shiki span{
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
  /* For providing a scroll + padding for all code blocks*/
  pre {
    overflow-x: auto;
    @apply rounded-lg;
    @apply px-2;
    @apply py-2;
    @apply mb-4;
    @apply border-l-8;
    /* @apply border-l-; */
    @apply dark:border-l-[#121212];
    @apply border-spacing-16;
    @apply text-neutral-600;
    @apply dark:text-neutral-400;
    @apply leading-relaxed;
  }
  /* Removes Backticks from code blocks */
  code::before,
  code::after {
    display: none;
  }
  /* Some formatting for image captions*/
  figcaption {
    @apply italic;
    @apply text-muted-foreground;
    @apply mt-4;
  }
}
