---
layout: 'layouts/base.njk'
---
<div class="container mx-auto px-5">
    <div class="m-4">
        <h4 class="text-4xl underline">Skills</h4>
        <div class="mb-4 space-x-1 space-y-2 ">
            {% for skill in resume.skills %}
                <span
                    data-slot="badge"
                    class="inline-flex items-center justify-center rounded-md border px-2 py-0.5 font-medium w-fit whitespace-nowrap shrink-0
                        [&amp;>svg]:size-3 gap-1 [&amp;>svg]:pointer-events-none focus-visible:border-ring focus-visible:ring-ring/50
                        focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40
                        aria-invalid:border-destructive transition-[color,box-shadow] overflow-hidden border-transparent bg-primary
                        text-primary-foreground [a&amp;]:hover:bg-primary/90 my-auto {% if skill.years < 2 %} text-md {% elif skill.years < 3 %} text-lg {%
                        elif skill.years < 4 %} text-xl {% elif skill.years < 5 %} text-2xl {% elif skill.years < 6 %} text-3xl {% else %} text-4xl {% endif %}">
                    {{ skill.name }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="m-4">
        <h4 class="text-4xl underline">Education</h4>
        <div>
            <div data-slot="accordion" data-orientation="vertical">
                <div data-state="closed" data-orientation="vertical" data-slot="accordion-item" class="border-b last:border-b-0">
                    <h3 data-orientation="vertical" data-state="closed" class="flex">
                        <button
                            type="button"
                            aria-controls="radix-«r1»"
                            aria-expanded="false"
                            data-state="closed"
                            data-orientation="vertical"
                            id="radix-«r0»"
                            data-slot="accordion-trigger"
                            class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md py-4
                                text-left text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px]
                                disabled:pointer-events-none disabled:opacity-50 [&amp;[data-state=open]>svg]:rotate-180"
                            data-radix-collection-item="">
                            <div class="flex flex-row">
                                <p>Rose-Hulman Institute of Technology -&nbsp;</p>
                                <p class="text-gray-500">BS Software Engineering - Class of 2023 (Summer)</p>
                            </div>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-chevron-down text-muted-foreground pointer-events-none size-4 shrink-0 translate-y-0.5
                                    transition-transform duration-200"
                                aria-hidden="true">
                                <path d="m6 9 6 6 6-6"></path>
                            </svg>
                        </button>
                    </h3>
                    <div
                        data-state="closed"
                        id="radix-«r1»"
                        hidden=""
                        role="region"
                        aria-labelledby="radix-«r0»"
                        data-orientation="vertical"
                        data-slot="accordion-content"
                        class="data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down overflow-hidden text-sm"
                        style="--radix-accordion-content-height: var(--radix-collapsible-content-height); --radix-accordion-content-width:
                            var(--radix-collapsible-content-width);"></div>
                </div>
                <div data-state="closed" data-orientation="vertical" data-slot="accordion-item" class="border-b last:border-b-0">
                    <h3 data-orientation="vertical" data-state="closed" class="flex">
                        <button
                            type="button"
                            aria-controls="radix-«r3»"
                            aria-expanded="false"
                            data-state="closed"
                            data-orientation="vertical"
                            id="radix-«r2»"
                            data-slot="accordion-trigger"
                            class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md py-4
                                text-left text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px]
                                disabled:pointer-events-none disabled:opacity-50 [&amp;[data-state=open]>svg]:rotate-180"
                            data-radix-collection-item="">
                            <div class="flex flex-row">
                                <p>Walt Whitman High School -&nbsp;</p>
                                <p class="text-gray-500">Class of 2019</p>
                            </div>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-chevron-down text-muted-foreground pointer-events-none size-4 shrink-0 translate-y-0.5
                                    transition-transform duration-200"
                                aria-hidden="true">
                                <path d="m6 9 6 6 6-6"></path>
                            </svg>
                        </button>
                    </h3>
                    <div
                        data-state="closed"
                        id="radix-«r3»"
                        hidden=""
                        role="region"
                        aria-labelledby="radix-«r2»"
                        data-orientation="vertical"
                        data-slot="accordion-content"
                        class="data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down overflow-hidden text-sm"
                        style="--radix-accordion-content-height: var(--radix-collapsible-content-height); --radix-accordion-content-width:
                            var(--radix-collapsible-content-width);"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-4">
        <h4 class="text-4xl underline">Experience</h4>
        <div>
            <div data-slot="accordion" data-orientation="vertical">
                <div data-state="closed" data-orientation="vertical" data-slot="accordion-item" class="border-b last:border-b-0">
                    <h3 data-orientation="vertical" data-state="closed" class="flex">
                        <button
                            type="button"
                            aria-controls="radix-«r5»"
                            aria-expanded="false"
                            data-state="closed"
                            data-orientation="vertical"
                            id="radix-«r4»"
                            data-slot="accordion-trigger"
                            class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md py-4
                                text-left text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px]
                                disabled:pointer-events-none disabled:opacity-50 [&amp;[data-state=open]>svg]:rotate-180"
                            data-radix-collection-item="">
                            <div class="flex flex-row">
                                <p>Software Engineer II (Contractor) -&nbsp;</p>
                                <p class="text-gray-500">Comcast</p>
                            </div>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-chevron-down text-muted-foreground pointer-events-none size-4 shrink-0 translate-y-0.5
                                    transition-transform duration-200"
                                aria-hidden="true">
                                <path d="m6 9 6 6 6-6"></path>
                            </svg>
                        </button>
                    </h3>
                    <div
                        data-state="closed"
                        id="radix-«r5»"
                        hidden=""
                        role="region"
                        aria-labelledby="radix-«r4»"
                        data-orientation="vertical"
                        data-slot="accordion-content"
                        class="data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down overflow-hidden text-sm"
                        style="--radix-accordion-content-height: var(--radix-collapsible-content-height); --radix-accordion-content-width:
                            var(--radix-collapsible-content-width);"></div>
                </div>
                <div data-state="closed" data-orientation="vertical" data-slot="accordion-item" class="border-b last:border-b-0">
                    <h3 data-orientation="vertical" data-state="closed" class="flex">
                        <button
                            type="button"
                            aria-controls="radix-«r7»"
                            aria-expanded="false"
                            data-state="closed"
                            data-orientation="vertical"
                            id="radix-«r6»"
                            data-slot="accordion-trigger"
                            class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md py-4
                                text-left text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px]
                                disabled:pointer-events-none disabled:opacity-50 [&amp;[data-state=open]>svg]:rotate-180"
                            data-radix-collection-item="">
                            <div class="flex flex-row">
                                <p>Teaching Assistant/Grader (CSSE374 - Software Design) -&nbsp;</p>
                                <p class="text-gray-500">Rose Hulman CSSE Department</p>
                            </div>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-chevron-down text-muted-foreground pointer-events-none size-4 shrink-0 translate-y-0.5
                                    transition-transform duration-200"
                                aria-hidden="true">
                                <path d="m6 9 6 6 6-6"></path>
                            </svg>
                        </button>
                    </h3>
                    <div
                        data-state="closed"
                        id="radix-«r7»"
                        hidden=""
                        role="region"
                        aria-labelledby="radix-«r6»"
                        data-orientation="vertical"
                        data-slot="accordion-content"
                        class="data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down overflow-hidden text-sm"
                        style="--radix-accordion-content-height: var(--radix-collapsible-content-height); --radix-accordion-content-width:
                            var(--radix-collapsible-content-width);"></div>
                </div>
                <div data-state="closed" data-orientation="vertical" data-slot="accordion-item" class="border-b last:border-b-0">
                    <h3 data-orientation="vertical" data-state="closed" class="flex">
                        <button
                            type="button"
                            aria-controls="radix-«r9»"
                            aria-expanded="false"
                            data-state="closed"
                            data-orientation="vertical"
                            id="radix-«r8»"
                            data-slot="accordion-trigger"
                            class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md py-4
                                text-left text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px]
                                disabled:pointer-events-none disabled:opacity-50 [&amp;[data-state=open]>svg]:rotate-180"
                            data-radix-collection-item="">
                            <div class="flex flex-row">
                                <p>Software Engineer Intern -&nbsp;</p>
                                <p class="text-gray-500">Direct Supply</p>
                            </div>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-chevron-down text-muted-foreground pointer-events-none size-4 shrink-0 translate-y-0.5
                                    transition-transform duration-200"
                                aria-hidden="true">
                                <path d="m6 9 6 6 6-6"></path>
                            </svg>
                        </button>
                    </h3>
                    <div
                        data-state="closed"
                        id="radix-«r9»"
                        hidden=""
                        role="region"
                        aria-labelledby="radix-«r8»"
                        data-orientation="vertical"
                        data-slot="accordion-content"
                        class="data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down overflow-hidden text-sm"
                        style="--radix-accordion-content-height: var(--radix-collapsible-content-height); --radix-accordion-content-width:
                            var(--radix-collapsible-content-width);"></div>
                </div>
                <div data-state="closed" data-orientation="vertical" data-slot="accordion-item" class="border-b last:border-b-0">
                    <h3 data-orientation="vertical" data-state="closed" class="flex">
                        <button
                            type="button"
                            aria-controls="radix-«rb»"
                            aria-expanded="false"
                            data-state="closed"
                            data-orientation="vertical"
                            id="radix-«ra»"
                            data-slot="accordion-trigger"
                            class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md py-4
                                text-left text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px]
                                disabled:pointer-events-none disabled:opacity-50 [&amp;[data-state=open]>svg]:rotate-180"
                            data-radix-collection-item="">
                            <div class="flex flex-row">
                                <p>Software Development Intern -&nbsp;</p>
                                <p class="text-gray-500">Rizkly Inc.</p>
                            </div>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-chevron-down text-muted-foreground pointer-events-none size-4 shrink-0 translate-y-0.5
                                    transition-transform duration-200"
                                aria-hidden="true">
                                <path d="m6 9 6 6 6-6"></path>
                            </svg>
                        </button>
                    </h3>
                    <div
                        data-state="closed"
                        id="radix-«rb»"
                        hidden=""
                        role="region"
                        aria-labelledby="radix-«ra»"
                        data-orientation="vertical"
                        data-slot="accordion-content"
                        class="data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down overflow-hidden text-sm"
                        style="--radix-accordion-content-height: var(--radix-collapsible-content-height); --radix-accordion-content-width:
                            var(--radix-collapsible-content-width);"></div>
                </div>
                <div data-state="closed" data-orientation="vertical" data-slot="accordion-item" class="border-b last:border-b-0">
                    <h3 data-orientation="vertical" data-state="closed" class="flex">
                        <button
                            type="button"
                            aria-controls="radix-«rd»"
                            aria-expanded="false"
                            data-state="closed"
                            data-orientation="vertical"
                            id="radix-«rc»"
                            data-slot="accordion-trigger"
                            class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md py-4
                                text-left text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px]
                                disabled:pointer-events-none disabled:opacity-50 [&amp;[data-state=open]>svg]:rotate-180"
                            data-radix-collection-item="">
                            <div class="flex flex-row">
                                <p>Web Desgin Counselor -&nbsp;</p>
                                <p class="text-gray-500">Holton Arms Creative Summer</p>
                            </div>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-chevron-down text-muted-foreground pointer-events-none size-4 shrink-0 translate-y-0.5
                                    transition-transform duration-200"
                                aria-hidden="true">
                                <path d="m6 9 6 6 6-6"></path>
                            </svg>
                        </button>
                    </h3>
                    <div
                        data-state="closed"
                        id="radix-«rd»"
                        hidden=""
                        role="region"
                        aria-labelledby="radix-«rc»"
                        data-orientation="vertical"
                        data-slot="accordion-content"
                        class="data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down overflow-hidden text-sm"
                        style="--radix-accordion-content-height: var(--radix-collapsible-content-height); --radix-accordion-content-width:
                            var(--radix-collapsible-content-width);"></div>
                </div>
            </div>
        </div>
    </div>
</div>