<main id="main">
	<section class="intro">
		<div class="justify-content-center" style="padding-top:150px; padding-left:100px" id="hero-container">
			<span class="h1 bg-body" style="padding: 5px 10px" id="hero-text">Software Engineer</span>
			<div style="padding:50px;"> </div>
			<span class="h1 bg-body" style="padding: 5px 10px" id="hero-text">Hardware Tinkerer</span>
			<div style="padding:50px;"> </div>
			<span class="h1 bg-body" style="padding: 5px 10px" id="hero-text">Power User</span>
			<div style="padding:50px;"> </div>
			<span class="h1 bg-body" style="padding: 5px 10px" id="hero-text">Tech Enthusiast</span>
		</div>
	</section>
	<section class="projects" id="projects-section">

	</section>
</main>
<footer>
	<app-footer></app-footer>
</footer>