<main id="main">
	<section class="intro">
		<div class="justify-content-center" style="padding-top:150px; padding-left:100px" id="hero-container">
			<span class="hero-text">Software Engineer</span>
			<div style="padding:50px;"> </div>
			<span class="hero-text">Hardware Tinkerer</span>
			<div style="padding:50px;"> </div>
			<span class="hero-text">Power User</span>
			<div style="padding:50px;"> </div>
			<span class="hero-text">Tech Enthusiast</span>
		</div>
	</section>
	<section class="projects" id="projects-section">
		<h1 class="featured-header">Featured Projects</h1>
		<!--This is why I wanted to rewrite the website with Angular-->
		<div class="card-container">
			<mat-grid-list [cols]="3" class="featured" rowHeight="650px">
				<mat-grid-tile *ngFor="let project of featured" class="card">
					<mat-card>
						<mat-card-header>
							<mat-card-title>{{project.projectName}}</mat-card-title>
							<mat-card-subtitle>{{project.projectDescription}}</mat-card-subtitle>
						</mat-card-header>
						<img mat-card-image src="{{correctAssetPath(project)}}">
						<mat-card-content>
							<span class="devStatus">Project Status:
								<span class="devStatus" [ngClass]="{active: project.projectStatus.status === 'Active Development',
												finished: project.projectStatus.status ==='Finished' || project.projectStatus.status ==='Finished (Private Work)',
												suspended: project.projectStatus.status ==='Suspended',
												archived: project.projectStatus.status ==='Archived'}">{{project.projectStatus.status}}</span>
								<span *ngIf="project.projectStatus.reason"><br>{{project.projectStatus.reason}}</span>
							</span><br>
							<span class="cardSubDesc">{{project.projectSubDesc}}</span><br>
							<span class="cardSubDesc">Languages: {{project.projectLanguage.join(", ")}}</span><br>
							<span class="cardSubDesc" *ngIf="project.projectLibraries">Libraries:
								{{project.projectLibraries.join(", ")}}</span>
						</mat-card-content>
						<mat-card-actions class="cardLinks">
							<ng-container *ngFor="let link of project.projectLinks">
								<span class="" *ngIf="link.linkType === 'text'">{{link.text}}</span>
								<a mat-raised-button color="primary" href="{{link.linkURL}}"
									*ngIf="link.linkType === 'github'">
									<mat-icon fontIcon="nf-dev-github"></mat-icon> GITHUB REPO
								</a>
								<a mat-raised-button color="primary" href="{{link.linkURL}}"
									*ngIf="link.linkType === 'demo'">
									<mat-icon fontIcon="nf-dev-github"></mat-icon> LIVE DEMO
								</a>
								<a mat-raised-button color="primary" href="{{link.linkURL}}"
									*ngIf="link.linkType === 'misc'">
									<mat-icon fontIcon="nf-dev-github"></mat-icon> {{link.linkDesc}}
								</a>
							</ng-container>
						</mat-card-actions>
					</mat-card>
				</mat-grid-tile>
			</mat-grid-list>
		</div>
		<div class="more-projects-btn">
			<button mat-raised-button class="more-projects-btn">More Projects</button>
		</div>
	</section>
</main>
<footer>
	<app-footer></app-footer>
</footer>