<main id="main">
    <section class="intro">
        <div class="justify-content-center" style="padding-top:150px; padding-left:100px" id="hero-container">
            <span class="h1 bg-body" style="padding: 5px 10px" id="hero-text">Software Engineer</span>
            <div style="padding:50px;"> </div>
            <span class="h1 bg-body" style="padding: 5px 10px" id="hero-text">Hardware Tinkerer</span>
            <div style="padding:50px;"> </div>
            <span class="h1 bg-body" style="padding: 5px 10px" id="hero-text">Power User</span>
            <div style="padding:50px;"> </div>
            <span class="h1 bg-body" style="padding: 5px 10px" id="hero-text">Tech Enthusiast</span>
        </div>
    </section>
    <section class="projects" id="projects-section">
        <div class="container-flud" style="padding-top:25px; margin-left:2rem;">
            <h1>Featured Projects</h1>
            <!--This will eventually be replaced by a card layout or something, but its subject to change-->
            <div class="row" id="project-cards">
                <div class="card mb-3 col-xs-8 col-sm-6 col-md-4 mx-2" style="width:32rem" id="cnhasm-card">
                    <h3 class="card-header">chnasm</h3>
                    <div class="card-body">
                        <h5 class="card-title">Regex Assembler for a Custom 16-bit Assembly Architecture</h5>
                        <h6 class="card-subtitle text-muted"><em>For Rose-Hulman CSSE232: Computer Architecture</em>
                        </h6>
                    </div>
                    <img src="/assets/cnhasm-noarch.png" class="d-block user-select-none" style="height:325px;">

                    <div class="card-body">
                        <span class="text-muted"><em>Language:
                                <i class="nf nf-mdi-language_csharp"></i> C#
                            </em></span><br>
                        <span class="text-muted"><em>Libraries:
                                <i class="nf nf-dev-dotnet"></i> .NET Core 3.1
                            </em></span>
                    </div>
                    <div class="card-footer text-muted"> <a href="https://github.com/rhit-westeraj/cnhasm-noarch"
                            class="card-link"><i class="nf nf-fa-github"></i>
                            Github Repo</a></div>
                </div>

                <!--Portfolio-->
                <div class="card mb-3 col-xs-8 col-sm-6 col-md-4 mx-2" style="width:32rem" id="portfoliocard">
                    <h3 class="card-header">Portfolio Website</h3>
                    <div class="card-body">
                        <h5 class="card-title">A Personally Desinged Portfolio Website With a Modern Look and Feel
                        </h5>
                        <h6 class="card-subtitle text-muted">Originally for Rose-Hulman CSSE280, Further Worked On
                            Personally</h6>
                    </div>
                    <img src="/assets/portfolio.png">
                    <div class="card-body">
                        <span class="text-muted"><em>Language:
                                <i class="nf nf-dev-html5"></i> HTML5,&nbsp;
                                <i class="nf nf-dev-sass"></i> Sass,&nbsp;
                                <i class="nf nf-mdi-language_javascript"></i>JS
                            </em></span><br>
                        <span class="text-muted"><em>Libraries:
                                <i class="nf nf-dev-bootstrap"></i> Bootstrap 5 (Bootswatch Darkly
                                Variant),&nbsp;
                                NerdFonts </em></span><br>
                    </div>
                    <div class="card-footer text-muted"> <a
                            href="https://github.com/rhit-westeraj/rhit-westeraj.github.io" class="card-link"><i
                                class="nf nf-fa-github"></i> Github Repo</a></div>
                </div>
                <!--END Card-->

                <!--UberUnit-->
                <div class="card mb-3 col-xs-8 col-sm-6 col-md-4 mx-2" style="width:32rem" id="uberunitcard">
                    <h3 class="card-header">UberUnit</h3>
                    <div class="card-body">
                        <h5 class="card-title">A consolidated, lightweight unit converter built for user convenience
                        </h5>
                        <h6 class="card-subtitle text-muted">For Rose-Hulman CSSE280</h6>
                    </div>
                    <img src="assets/Picture1.png" alt="" class="d-block user-select-none">
                    <div class="card-body">
                        <span class="text-muted"></span>
                        <span class="text-muted"><em>Language:
                                <i class="nf nf-dev-html5"></i> HTML5,&nbsp;
                                <i class="nf nf-dev-sass"></i> Sass,&nbsp;
                                <i class="nf nf-mdi-language_typescript"></i> TypeScript
                            </em></span><br>
                        <span class="text-muted"><em>Libraries:
                                <i class="nf nf-dev-angular"></i> Angular 12,&nbsp;
                                <i class="nf nf-dev-firebase"></i>&nbsp;Firebase (via @angular/fire)
                            </em></span><br>
                    </div>
                    <div class="card-footer text-muted">
                        <a href="#" class="card-link"><i class="nf nf-fa-github"></i> Github Repo</a><br>
                        <a href="https://rosehulmanprojectvault.org/project/-Mcae1Wvtehq-J4saaLz" class="card-link">
                            <i class="nf nf-fa-link"></i> Rose-Hulman Project Vault
                        </a><br>
                        <a href="https://uberunit-7c04b.web.app/" class="card-link">
                            <i class="nf nf-mdi-application"></i> Live Demo
                        </a>
                    </div>
                </div>
                <!--END Card-->
                <div class="col-12"><a href="page/projects.html"><button class="btn btn-primary col-12"
                            style="width:97.5%">More
                            Projects</button></a>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="bg-dark " style="margin-top: 20px;">
        <div class="text-muted text-center">Alex "FaceFTW" Westerman <i class="nf nf-fa-copyright"></i>2021 All
            Rights
            Reserved.</div>
        <div class="text-muted text-center">Source code for this website is licensed under the MIT License</div>
        <div class="text-muted text-center">This website was created by hand with Bootstrap 5.0.1, using the
            Bootswatch Darkly Variant</div>
        <div class="text-muted text-center"></div>
    </div>
</footer>