section.intro {
	width: 100%;
	height: 80vh;
	background-image: url("../../assets/img/DSC_0011.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	//margin: 0px !important;
}

.featured {
	display: block;
}

footer {
	display: block;
}
// .featured {
// 	// display: flex;
// 	// width: 100%;
// }

div.spacer{
	width:20px;
	max-width: 20px;
	flex: 1 0 auto;
}

div.card-container {
	display: flex;
	justify-items: center;
	width: 100%;
}

mat-grid-list {
	max-width: 100%;
	flex: 1 1 auto;
	margin:20px;
}
